* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Times New Roman" times serif;
    background-color: rgb(255, 255, 255);
}

.border {
    max-width: 900px;
    max-height: 1200px;
    margin: auto;
    border: 2px solid black;
}

header {
    width: 100%;
    color: black;
    text-align: center;
    padding: 0px;
    
}
    .resume nav,
    .coverletter nav {
        display: flex;
        justify-content: space-evenly;
        border: 1px solid grey;
        padding: 10px;
        background-color: rgb(214, 214, 214);
        width: 100%;
        letter-spacing: 1px;
    }

    .careergoals nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        border: 1px solid grey;
        margin: 10px;
        padding: 10px;
        background-color: light pink;
        letter-spacing: 1px;
        gap: 30px;
    }

    .first-line{
        padding: 8px;
        padding-bottom: 30px;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 3px;
        font-size: 40px;
    }
h2 {
    border-bottom: 2px solid gray;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}

h2.noborder {
    border-bottom: none;
    margin-left: 15px;
}

p {
    color: dark gray;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 20px;
}

.resume{
    margin: 0px;
}

.coverletter {
    margin: 0px;
}

.coverletter main, 
.coverletter section, 
.coverletter article {
    color: dark gray;
    padding-left: 30px;
    border-bottom: none;
    line-height: 2;
    padding-bottom: 10px;

}

a:visited {
    color: blue;
}

h3 {
    color: black;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;

}

h4 {
    color: black;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.date {
    font-style: italic;
    text-align: right;
    font-weight: normal;
    float: left;
    font-size: 15 px;
    padding-top: 20px;
}

#todaysdate {
    margin: 0px;
    padding: 10px;
    font-size: 8px;
    text-align: right;
}

.container {
    display: flex;
    height: 100%;
}

#left-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    border-right: 2px solid grey;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    justify-content: flex-start;
    gap: 50px;
}

#tablecontain {
    display: grid;
    width: 300px;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: auto auto auto auto;
    color: dark gray;
    
}

#tablecontain > div {
    text-align: center;
    border: 0.5px solid gray;
    padding: 0px;
    font-size: 15px;
    align-content: space-evenly;
}

#tablecontain h3 {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    margin-bottom: 15px;
}

#tablecaption {
    grid-column: 1 / -1;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }

#right-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.footer {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    font-size: 10px;
    color: dark grey;
}

#home,
#about,
#form {
    line-height: 3;
    padding-left: 50px;
    padding-right: 50px;
}

#audio {
    width: 100%;
}

div p {
    color: black;
}

ul {
    list-style-type: square;
}